
<div class="flex items-center flex-wrap bg-white w-fit h-100">

    <%= render 'layouts/navigation' %>
    <%= render 'layouts/messages' %>

    <div class="container flex flex-col mt-1 box-border w-100 p-4 rounded border-4 border-teal-500 bg-green-100 h-100">
    <%= render 'form' %>
    </div>
</div>